<nav class="nav__wrapper">

    <div class="">
        <img class="desktop__menu-absolute" src="{{site.baseurl}}/assets/images/Bildschirmfoto.png" alt="">
        <div class="desktop-logo">
            <img class="" src="{{site.baseurl}}/assets/images/Bildschirmfoto.png" alt="">
        </div>

    </div>

    <ul class="nav__wrapper-list">
        <li class="nav__wrapper-list-item"><a href="{{site.baseurl}}/what-we-do">what we do</a></li>
        <li class="nav__wrapper-list-item"><a href="{{site.baseurl}}/customers"> customers</a></li>
        <li class="nav__wrapper-list-item"><a href="{{site.baseurl}}/for-developers">developers</a></li>
        <li class="nav__wrapper-list-item"><a href="{{site.baseurl}}/team">team</a></li>
        <li class="nav__wrapper-list-item"><a href="{{site.baseurl}}/contact">contact</a></li>
        <div class="mobile-menu__icon">
            <svg class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24"
                height="24" viewBox="0 0 24 24">
                <defs>
                    <clipPath id="clip-path">
                        <rect width="24" height="24" fill="none" />
                    </clipPath>
                </defs>
                <g id="icons_menu" data-name="icons/menu" clip-path="url(#clip-path)">
                    <rect id="bg" width="24" height="24" fill="none" />
                    <path id="ico"
                        d="M8.75,13.5a.75.75,0,0,1,0-1.5h10.5a.75.75,0,0,1,0,1.5Zm-8-6A.75.75,0,0,1,.75,6h18.5a.75.75,0,0,1,0,1.5Zm0-6A.75.75,0,0,1,.75,0h10.5a.75.75,0,0,1,0,1.5Z"
                        transform="translate(2 5)" fill="#fff" />
                </g>
            </svg>
        </div>

    </ul>
</nav>
<nav class="mobile-menu-float">
    <p><img class="" src="{{site.baseurl}}/assets/images/mobile-logo.png" alt=""> </p>
    <p><img class="" src="{{site.baseurl}}/assets/images/icons-menu.png" alt=""></p>
</nav>