<nav class="nav__wrapper navWrapper">

    <div class="">
        <a href="{{site.baseurl}}/what-we-do">
            <img class="desktop__menu-absolute" src="{{site.baseurl}}/assets/images/Bildschirmfoto.png" alt="">
        </a>
        <div class="desktop-logo">
            <a href="{{site.baseurl}}/what-we-do">
                <img class="nav-wrapper-icon" src="{{site.baseurl}}/assets/images/Bildschirmfoto.png" alt="">
            </a>
            <div class="closebtn closeBtn">
                <svg class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="49"
                    height="46" viewBox="0 0 49 46">
                    <defs>
                        <clipPath id="clip-Close_Button">
                            <rect width="49" height="46" />
                        </clipPath>
                    </defs>
                    <g id="Close_Button" data-name="Close Button" clip-path="url(#clip-Close_Button)">
                        <!-- <rect width="49" height="46" fill="#fff" /> -->
                        <g id="icons_dark_x" data-name="icons/dark/x" transform="translate(10.463 8.463)">
                            <g id="Rechteck_533" data-name="Rechteck 533" transform="translate(-0.463 -0.463)"
                                fill="#fff" stroke="#fff" stroke-width="1" opacity="0">
                                <rect width="30" height="30" stroke="none" />
                                <rect x="0.5" y="0.5" width="29" height="29" fill="none" />
                            </g>
                            <g id="x" transform="translate(7.269 7.269)">
                                <line id="Linie_280" data-name="Linie 280" x1="14" y2="14"
                                    transform="translate(0.268 0.269)" fill="none" stroke="#fff" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="1.5" />
                                <line id="Linie_281" data-name="Linie 281" x2="14" y2="14"
                                    transform="translate(0.268 0.269)" fill="none" stroke="#fff" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="1.5" />
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>

    </div>

    <ul class="nav__wrapper-list">
        <li class="nav__wrapper-list-item"><a href="{{site.baseurl}}/what-we-do">what we do</a></li>
        <li class="nav__wrapper-list-item"><a href="{{site.baseurl}}/customers"> customers</a></li>
        <li class="nav__wrapper-list-item"><a href="{{site.baseurl}}/for-developers">developers</a></li>
        <li class="nav__wrapper-list-item"><a href="{{site.baseurl}}/team">team</a></li>
        <li class="nav__wrapper-list-item"><a href="{{site.baseurl}}/contact">contact</a></li>
        <div class="mobile-menu__icon">
            <svg class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24"
                height="24" viewBox="0 0 24 24">
                <defs>
                    <clipPath id="clip-path">
                        <rect width="24" height="24" fill="none" />
                    </clipPath>
                </defs>
                <g id="icons_menu" data-name="icons/menu" clip-path="url(#clip-path)">
                    <rect id="bg" width="24" height="24" fill="none" />
                    <path id="ico"
                        d="M8.75,13.5a.75.75,0,0,1,0-1.5h10.5a.75.75,0,0,1,0,1.5Zm-8-6A.75.75,0,0,1,.75,6h18.5a.75.75,0,0,1,0,1.5Zm0-6A.75.75,0,0,1,.75,0h10.5a.75.75,0,0,1,0,1.5Z"
                        transform="translate(2 5)" fill="#fff" />
                </g>
            </svg>
        </div>

    </ul>
</nav>
<nav class="mobile-menu-float">
    <div class="mobile-icon__container">
        <a href="{{site.baseurl}}/what-we-do">
            <img class="" src="{{site.baseurl}}/assets/images/mobile-logo.png" alt="">
        </a>

    </div>
    <div class="openMenubtn"><img src="{{site.baseurl}}/assets/images/icons-menu.png" alt=""></div>
</nav>