.blog-container {
        position: relative;
        padding: 45px 13px 31px 13px;

        border: 1px solid white;
    }
  .blog__post-title{
      margin-bottom: 5%;
  }
  .blog{
      padding-right: 18%;
  }
  .blog__post-title .mini-title{
font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 22px;
    letter-spacing: 1.32px;
    color: white;
  }
  .PageNavigation{
    display: flex;
    justify-content: center;
}
.list_blog-post-container{
    position: relative;
}
.blog__item-title a {
    text-decoration: none;
    color: white;
}
.blog-svg-icon {
    position: absolute;
    right: 0%;
    bottom: 37%;
}

   .blog__post-title .second-title{
 font-size: 70px ;
    letter-spacing: 3.08px;
    line-height: 90px;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-transform:uppercase;
 color: white;
   }
    .blogs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    margin: 7rem auto 0 auto;
}
.blog__item-number:after {
        position: absolute;

        height: 0.6rem;
        background: white;
        content: '';
        width: 91px;
        top: 0;
        left: 0;

    }
    .blog__item-number:after {
        position: absolute;

        height: 0.6rem;
        background: white;
        content: '';
        width: 91px;
        top: 0;
        left: 0;

    }
    .blog__item-title{
        padding: 5% 0 5% 0;
    }
    .blog__item-number{
    margin: -23px 0 34px 0;
    font-size: 70px;
}
    .post-svg {
    position: absolute;
    top: 1%;
    right: 0;
    margin: 0.7rem;
}
.blog__title{
    padding-top: 8%;
}
        .blog__title-container {
            display: flex;
            justify-content: space-between;
      }

      @media screen and (max-width: 768px)  {
  .blog__title-container {
            display: flex;
           
            flex-direction: column;
      }
      .blog__svg{
          padding-top: 15%;
      }
      .blog {
    padding-right: 0%;
}
.blogs {
    display: grid;
    grid-template-columns: 1fr  1fr ;
    width: 100%;
    margin: 7rem auto 0 auto;
}
}