.blog-container {
        position: relative;
        padding: 45px 13px 31px 13px;

        border: 1px solid white;
    }

    .blogs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    margin: 7rem auto 0 auto;
}
.blog__item-number:after {
        position: absolute;

        height: 0.6rem;
        background: white;
        content: '';
        width: 91px;
        top: 0;
        left: 0;

    }
    .blog__item-number:after {
        position: absolute;

        height: 0.6rem;
        background: white;
        content: '';
        width: 91px;
        top: 0;
        left: 0;

    }
    .blog__item-title{
        padding: 5% 0 5% 0;
    }
    .blog__item-number{
    margin: -23px 0 34px 0;
    font-size: 70px;
}
    .post-svg {
    position: absolute;
    top: 1%;
    right: 0;
    margin: 0.7rem;
}
.blog__title{
    padding-top: 8%;
}
        .blog__title-container {
            display: flex;
            justify-content: space-between;
      }

      @media screen and (max-width: 768px)  {
  .blog__title-container {
            display: flex;
           
            flex-direction: column;
      }
.blogs {
    display: grid;
    grid-template-columns: 1fr  1fr ;
    width: 100%;
    margin: 7rem auto 0 auto;
}
}