/* for-developers */

.your-hardware__list{
  display: flex;
  justify-content: space-between;
}
.your-hardware{
  position: relative;
}
.your-hardware__container{
  padding: 10% 0 5% 0%;
}
.for-developers__container{
  display: flex;
  padding: 8% 0 0 0;
}
.for-developers__svg {
    width: 40%;
    display: flex;
    padding: 7% 0 0 5%;
}
.for-developers__list-container-heading{
 font-size: 24px;
 letter-spacing: 1.44px;
 line-height: 81px;
 color: #0A39D5;
 padding-left: 5%;
}
.for-developers__list-item p,.for-developers__list-item img {
display: inline-block;
}

.webrtc-agent__list {
    position: absolute;
    top: 34%;
    left: 47%;
}
.webrtc-agent__list-outer,.webrtc-agent__list-inner{
font-size: 22px;
line-height: 50px;
letter-spacing: 0.55px;
}
.webrtc-agent__list-inner__container{
 padding: 0  0 0 5% ;
}
.webrtc-agent{
  position: relative;
}
.for-developers__image-first{
  padding-right: 5%;
}
.for-developers{
  margin-bottom: 15%;
  position: relative;
}
.for-developers__container .for-developers__list{
  padding-top: 5%;
}
.for-developers__list-container-second{
  margin-top: 10%;
}
.for-developers__list-item p{
  line-height: 50px;
  letter-spacing: 0.55px;
}
.your-hardware-bottom-list-item{
  display: flex;
}
.your-hardware-bottom-list-item p{
padding-left: 8%;
}
.your-web-developer-wrapper__list,.your-web-developer-wrapper__list-bullet{
  font-size: 22px;
  letter-spacing: 0.55px;
  line-height: 45px;
}
.your-web-developer-wrapper__svg-absolute {
    position: absolute;
    bottom: 27%;
    right: -35%;
}
.your-web__list-mobile-container__svg,.a-black-box-mobile{
  display: none;
}
.black-box__below-text{
    font-size: 10px;
    text-align: center;
    padding-right: 5%;
}
.your-hardware__container .your-hardware__list-item-text{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
  letter-spacing: 0.55px;
  line-height: 55px;
  color: blue;
}
.your-hardware-bottom-list__container{
  display: flex;
  justify-content: space-between;
}
.your-hardware-bottom-list{
  margin:10% 0 18% 0;
}
.webrtc-agent-svg{
  margin-top: 10%;
  padding-right: 5%;
}
.section-title-black-box-container{
  display: flex;
}
.a-black-box{
  margin-top: 10%;
  position: relative;
}
.a-black-box-svg{
  padding-top: 8%;
}
.ptz-cam-section{
  position: relative;
}
.ptz-cam-section-left {
    position: absolute;
    top: 37%;
    left: 9%;
     font-size: 20px;
    letter-spacing: 1.04px;
    line-height: 67px;
}
.tl-dr-section__container{
  padding: 10% 0 0 0;
}
.tl-dr__list-item p{
  line-height: 23px;
  letter-spacing: 0.57px;
  line-height: 37px;
}
.tl-dr__list-item span{
  color: blue;
}
.tl-dr__list-item{
  padding: 2% 0 2% 0;
}
.ptz-cam__svg svg {
  padding-right: 24%;
}
.ptz-cam-section-right {
    position: absolute;
    bottom: 22%;
    right: 28%;
    font-size: 20px;
    letter-spacing: 1.04px;
    line-height: 67px;
}
.your-web-developer-wrapper{
  padding: 10% 0 15% 0;
  display: flex;
}
.ptz-cam__svg{
  padding-top: 10%;
}
.a-black-box-svg__bottom-left{
  padding-left: 8%;
}
.a-black-box-svg__bottom-right{
  padding-right: 5%;
}
.a-black-box-svg__bottom{
  display: flex;
  justify-content: space-between;
}
.your-web-developer{
  margin: 15% 0 15% 0;
  position: relative;
}
.ptz-cam-section{
  margin: 15% 0 15% 0;
}
.tl-dr-section__container{
  display: flex;
  flex-direction: row;
}
.tl-dr__text{
  padding-top: 7%;
}
.your-web-developer-wrapper__list li{
    list-style: disc;
}
.your-web-developer-wrapper__list span{
    color: blue;
}

@media screen and (max-width: 768px) {
  .your-web__list-mobile-container__svg,.a-black-box-mobile{
    display: block;
  }
    .for-developers__svg {
    width: 68%;
    display: flex;
    padding: 7% 0 0 5%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tl-dr__list-item p {
    font-size: 15px;
    line-height: 30px;
}
.tl-dr__list-item {
    padding: 15% 0 0 0;
}
.your-web-developer {
    margin: 42% 0 15% 0;
    position: relative;
}
.a-black-box {
    margin-top: 56%;

}
.webrtc-agent{
    margin-top: 40%;
}
.your-hardware-bottom-list-item p {
    font-size: 16px;
}
.tl-dr-section {
    margin-top: 30%;
}
.your-web-developer-list-container p{
    font-size: 11px;
    line-height: 32px;

}
.your-web-developer-wrapper__svg,.your-web-developer-wrapper__svg-absolute{
    margin-left: -7%;
}
.webrtc-agent__list p{
    font-size: 14px;
    line-height: 32px;
}
.your-hardware__container {
    padding: 30% 0 5% 0%;
}
 .for-developers__container {
    display: flex;
    padding: 0 0 0 0;
    flex-direction: column;
}
.for-developers__image-first img{
    width: 270px;
}
.for-developers__svg-second svg{
width: 100%;

}
.your-hardware__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.your-hardware-bottom-list__container{
   display: flex;
    flex-direction: column;
    
}
.section-title-black-box-container {
    display: inline-block;

}
.a-black-box-svg__bottom {
    display: none;
}
.your-web-developer-wrapper {
   
 display: flex; 
 flex-direction: column;
}
.your-web-developer-wrapper__svg svg , .your-web-developer-wrapper__svg-absolute svg{
width: 400px;
}
.ptz-cam__svg svg {
    padding:0;
}
.ptz-cam-section-left {
    position: absolute;
    top: 15%;
    left: 23%;
    font-size: 12px;
    letter-spacing: 1.04px;
    line-height: 67px;
}
.tl-dr-section__container {
    display: flex;
    flex-direction: column;
}
.tl-dr__svg svg{
    width: 100%;
}
.tl-dr-section__container .tl-dr__list-container {
    width: 72%;
    margin: 0 auto;
    text-align: center;
}
.your-hardware-bottom-list-item {
    display: flex;
    align-items: center;
    padding: 5% 0 5% 0;
}
.for-developers__list-item p {
    font-size: 14px;
}
.your-hardware__list-item{
    margin-bottom: 20%;
}
.your-hardware{
    margin-top: 30%;
}
.your-hardware-bottom-list{
    margin: 35% 0 20% 0;
}
.for-developers{
    margin-bottom: 15%;
}
.for-developers__list-container-heading {
    font-size: 17px;
    letter-spacing: 1.44px;
    line-height: 57px;
    color: #0A39D5;
    padding-left: 0;
    text-align: center;
}
.ptz-cam-section-right {
    position: absolute;
    bottom: -4%;
    right: 19%;
    font-size: 12px;
    letter-spacing: 1.04px;
    line-height: 67px;
}
.ptz-cam-section .ptz-cam__svg{
    padding-top: 45%;
    padding-bottom: 14%;
}

.your-web-developer-wrapper__svg-absolute {
    position: relative;
    bottom: 0;
    right: 0;
}
.webrtc-agent__list {
    position: relative;
    margin: 0;
padding: 0;   
top: 0;
left: 0;
}
    
}



@media screen and (max-width: 1199px) and (min-width: 768px) {
.for-developers__container {
    display: flex;
    padding: 8% 0 0 0;
    flex-direction: column;
}
.webrtc-agent__list-outer, .webrtc-agent__list-inner {
    font-size: 13px;
    line-height: 37px;
    letter-spacing: 0.55px;
}
.webrtc-agent__list {
    position: absolute;
    top: 43%;
    left: 42%;
}
.a-black-box-svg svg{
  width: 900px;
  height: 600px;
}
.your-web-developer-wrapper__svg-absolute {
    position: relative;
    bottom: 0%;
    right: 0%;
    padding-top: 10%;
}
.your-web-developer-list-container{
  padding-top: 10%;
  
}
.your-web-developer-wrapper{
  display: flex;
  flex-direction: column;
}
.section-title-black-box-container{
  display: flex;
  flex-direction: column;
}
.a-black-box-svg__bottom {
  padding-bottom: 25%;
}
.a-black-box-svg__bottom-left {
     padding-left: 0%; 
}

}

@media screen and (max-width: 1400px) and  (min-width: 1200px) {
  

.your-web-developer-wrapper__svg-absolute{
  display: none;
}
.your-web-developer-wrapper__list, .your-web-developer-wrapper__list-bullet {
    font-size: 15px;
    letter-spacing: 0.55px;
    line-height: 32px;
}
.your-web-developer-wrapper__svg-absolute {
    position: absolute;
    bottom: 27%;
    right: -29%;
}
.a-black-box-svg__bottom-left{
  font-size: 17px;
}
.ptz-cam-section-right {
    position: absolute;
    bottom: 39%;
    right: 13%;
    font-size: 20px;
    letter-spacing: 1.04px;
    line-height: 67px;
}
.ptz-cam-section {
    margin: 31% 0 15% 0;
}
.webrtc-agent{
  margin-top: 30%;
}
.tl-dr__svg svg{
  width: 437px;

}
.tl-dr__text {
    padding-top: 9%;
    padding-left: 5%;
}
.a-black-box-svg__bottom-right {
    position: absolute;
    bottom: 10%;
    /* right: 10%; */
    font-size: 17px;
    left: 4%;
}
.a-black-box-svg__bottom-right{
  position: absolute;
  bottom: 10%;
}
.for-developers__container {
    display: flex;
    padding: 8% 0 21% 0;
}
.ptz-cam__svg {
    padding-top: 10%;
    padding-bottom: 20%;
}
.your-web-developer {
    margin: 32% 0 15% 0;
    position: relative;
}
.a-black-box {
    margin-top: 23%;
    position: relative;
}
.your-hardware-bottom-list {
    margin: 20% 0 18% 0;
}
.your-hardware__container {
    padding: 10% 0 17% 0%;
}
.for-developers__list-item p {
    line-height: 49px;
    font-size: 19px;
    letter-spacing: 0.55px;
}
.a-black-box-svg__bottom-left {
    position: absolute;
    bottom: 11%;
    right: 8%;
}
.tl-dr__list-item p {
    line-height: 23px;
    letter-spacing: 0.57px;
    line-height: 40px;
    font-size: 17px;
}
.ptz-cam-section-left {
    position: absolute;
    top: 37%;
    left: 3%;
    font-size: 20px;
    letter-spacing: 1.04px;
    line-height: 67px;
}
.webrtc-agent__list {
    position: absolute;
    top: 39%;
    left: 41%;
}
.a-black-box-svg svg{
  width: 1000px;
}
.webrtc-agent__list-outer, .webrtc-agent__list-inner {
    font-size: 19px;
    line-height: 37px;
    letter-spacing: 0.55px;
}
.your-web-developer-list-container{
  padding-top: 3%;
}
.your-web-developer-wrapper__svg svg{
  width: 628px;
}
.for-developers__image-first img{
  margin-top:18%;
}
.for-developers__text{
  padding-left: 15%;
}
.for-developers__svg {
    width: 31%;
    display: flex;
    padding: 13% 0 0 5%;
}
}