/* Box sizing rules */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
:root {
  
  --main-button-color:#096EF3;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: white;
  background-color: black;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



.website-container{
    max-width: 1920px;
    background-color: black;
    width: 100%;
    margin: 0 auto;
}

p{
    color:white;
    font-size: 22px;
     font-family: 'PT Sans', sans-serif;
     letter-spacing: 0.55px;
     line-height: 32px;
     align-items: left;
    
}
.mini-title{
     font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 22px;
    letter-spacing: 1.32px;
    color: white;
}
.section-title{
    font-size: 70px;
    letter-spacing: 3.08px;
    line-height: 90px;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-transform:uppercase;
 color: white;
}
.website-container-inner {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
}
.what-we-do__svg-container{
  margin-left: 18%;
}
.what-we-do,.how-it-works,.secure-yet-simple,.video-section,.you-plus-your-things{
  position: relative;
}

.what-we-do__text{
    margin-left: 21%;
    padding-right: 4%;
    margin-top: -3%;
}
.how-it-works__,.-section__iframe{
  margin-top: 10%;
  margin-bottom: 10%;
}
.responsive-iframe {
    margin-left: 20%;
    width: 65%;
    height: 72%;
    border: none;
}

.secure-yet-simple__container .secure-yet-simple__list{
  display: flex;
   margin-bottom: 2%;
}

.secure-yet-simple__container{
   
    padding: 13% 0 10% 25%;
   
}
 .our-costs-svg{
    display: none;
  }
.secure-yet-simple__item-svg{
  padding-right: 10%;
}
.secure-yet-simple__item{
margin-top: 1%;
}
.our-cost{
  display: flex;
  justify-content: space-between;
}
.our-cost__item {
  width: 27%;
 
}
.our-cost__item p{
 font-size: 21px;
  line-height: 38px;
  letter-spacing: 0.48px;
}
  .you-plus-your-things__item-text{
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 29px;
    padding-right: 25%;
  }
  .you-plus-your-things__item-number{
    padding-top: 4%;
  }
.you-plus-your-things .you-plus-your-things__list-wrapper {
  padding: 10% 0 5% 14% ;
}
.plus-your-things__item-title{
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 0.5px;
  padding-bottom: 1%;
}

.you-plus-your-things__list-wrapper  .you-plus-your-things__list{
  display: flex;
  margin-bottom: 4%;
}
.you-plus-your-things__item-number,.you-plus-your-things__item-svg{
  padding-right: 4%;
}

.thumbs-up {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-six-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile-none{
  display: none;
}
.section-six__button-large {
    border: 2px solid var(--main-button-color);
    border-radius: 50px;
    color: white;
    margin-bottom: 2.5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
    font-size: 25px;
    text-transform: uppercase;
    padding: 15px;
}

.section-six__button-small {
    border: 2px solid var(--main-button-color);
    border-radius: 50px;
    color: white;
    margin-bottom: 2.5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46%;
    /* justify-content: space-around; */
    font-size: 25px;
    text-transform: uppercase;
}
.buttons-wrapper{
  display: flex;
  justify-content: space-around;
}
.thumbs-up__text{
  align-self: center;
  padding-left: 2%;
}

.section-six{
  margin-top: 15%;
}
.section-seven{
  margin-top: 10%;
}
.our-cost__container{
  margin: 5% 0 5% 0;
}
.how-it-works,.secure-yet-simple,.-section,.you-plus-your-things{
  margin-top: 18%;
}
.thumbs-up__text h4{
  font-size: 28px;
  letter-spacing: 1.4px;
  line-height: 61px;
  text-align: left;
  text-transform: uppercase;
}
.management-section__list-item span{
  color: #096EF3;
}


.Benefits{
  margin-bottom: 15%;
}

.our-cost__item span{
  color: blue;
}

.how-it-works__video {
    padding: 12% 0 10% 29%;
}
.video-section__iframe{
  padding: 15% 0 0 0;
}
.video-section{
  margin-top: 15%;
}
.our-cost__container{
  margin-top: 10%;
}

.section__number{
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  bottom: 0%;
  right: 0%;
  border-top: 1px solid white;
  font-family: 'PT Sans', sans-serif;
   width: 33px;
     padding-top: 9px;
}


@media screen and (max-width: 450px){
.section-six__button-small {
    padding: 3%;
    border: 2px solid var(--main-button-color);
    border-radius: 50px;
    color: white;
    margin-bottom: 2.5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44% !important;
    /* justify-content: space-around; */
    font-size: 16px;
    text-transform: uppercase;
}
.section-six__button-large {
    border: 2px solid var(--main-button-color);
    border-radius: 50px;
    color: white;
    margin-bottom: 2.5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px !important;
    text-transform: uppercase;
    padding: 4px 17px 5px 19px  !important;
}
}





@media screen and (max-width:768px){
  .our-costs-svg{
    display: block;
  }
 
.what-we-do__text {
    margin-left: 0%;
    padding-right: 0%;
    padding-top: 40%;
}
.mobile-menu-float{
  margin: 3% 0 7% 0;
}
.how-it-works__video {
    padding: 12% 0 10% 0%;
}
iframe{
  width: 349px;
  height: 286px;

}
.secure-yet-simple {
    margin-top: 19%;
    margin-bottom: 36%;
}
.what-we-do__text p {
    font-size: 16px;
}
.how-it-works{
  margin-top: 40%;
}


 .buttons-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}
.our-cost{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-six__button-large {
    border: 2px solid var(--main-button-color);
    border-radius: 50px;
    color: white;
    margin-bottom: 2.5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 1px 5px 1px;
}
.responsive-iframe {
    margin-left: 1%;
    width: 92%;
    height: 33%;
    border: none;
}
.plus-your-things__item-title {
    font-size: 19px;
    line-height: 26px;
    letter-spacing: 0.5px;
    padding-bottom: 1%;
    text-align: left;
   
}
.section-six__button-small {
    padding: 3%;
    border: 2px solid var(--main-button-color);
    border-radius: 50px;
    color: white;
    margin-bottom: 2.5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    /* justify-content: space-around; */
    font-size: 16px;
    text-transform: uppercase;
}

.thumbs-up__svg{
  padding-bottom: 10%;
}
.our-cost p{
  font-size: 15px;
  letter-spacing: 0.23px;
  line-height: 32px;
}
.our-cost__item {
    width: 100%;
}
.you-plus-your-things__list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secure-yet-simple__container .secure-yet-simple__list {
    display: flex;
    margin-bottom: 2%;
    flex-direction: column;
        align-items: center;
    justify-content: center;

}
.what-we-do__svg-container {
padding-top: 15%;
margin: 0 0 0 2%;
}
.section__number{
  display: none;
}

.secure-yet-simple__container {
    padding: 13% 0 10% 0%;
}
.you-plus-your-things__item-number{
 padding: 0 0 8% 0;
}
.you-plus-your-things__item-svg{
  padding: 0 0 9% 0;
}
.you-plus-your-things__list-wrapper {
  padding: 0;
}
.you-plus-your-things__item-text {
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 29px;
}
.you-plus-your-things .you-plus-your-things__list-wrapper {
    padding: 31% 0 5% 0%;
}
.you-plus-your-things__item{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.you-plus-your-things__item-text {
    padding-right: 0;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.secure-yet-simple__item p{
    font-size: 14px;
    font-style: italic;
    letter-spacing: 0.35px;
    line-height: 25px;
    text-align: center;
}
.video-section {
    margin-top: 35%;
    margin-bottom: 50%;
}
.secure-yet-simple__item-svg{
  padding: 15% 0 10% 0 ;
}
.secure-yet-simple__container {
    width: 59%;
    margin: 0 auto;
}
.mobile-none{
  display: block;
}
.thumbs-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.thumbs-up__text {
    align-self: center;
    padding-left: 0;
    display: flex;
    justify-content: center;

}
.thumbs-up__text h4{
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.9px;
  line-height: 30px;
  font-size: 18px;
}
}




@media screen and (max-width: 1199px) and (min-width: 768px) {
  .what-we-do__text{
    font-size: 16px;
  }
.what-we-do__svg-container svg {
    width: 618px;
    height: 400px;
}
.our-cost__item p {
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.48px;
}

.nav__wrapper-list li a {
    text-decoration: none;
    font-size: 9px !important;
    letter-spacing: 0.76px;
    line-height: 24px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-weight: Bold;
}
.nav__wrapper-list li a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.76px;
    line-height: 24px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-weight: Bold;
}
.mini-title {
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 1.32px;
    color: white;
}
.nav__wrapper-list-item a {
  font-size: 13px;
}
.you-plus-your-things__item-text {
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 25px;
    padding-right: 25%;
}
.you-plus-your-things__item-number{
  padding-top: 9%;
}
.plus-your-things__item-title {
    font-size: 20px;
    line-height: 37px;
    letter-spacing: 0.5px;
    padding-bottom: 1%;
}
p {
    color: white;
    font-size: 12px;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.55px;
    line-height: 24px;
    align-items: left;
}
.how-it-works__video, .video-section__iframe {
    padding: 15% 0 10% 0;
}
.responsive-iframe {
    margin-left: 20%;
    width: 65%;
    height: 41%;
    border: none;
}
.section-six__button-large {
    border: 2px solid var(--main-button-color);
    border-radius: 50px;
    color: white;
    margin-bottom: 2.5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px;
}
.thumbs-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}






@media screen and (max-width: 1400px) and (min-width: 1200px) {
.what-we-do__svg{
  width:800px;
  height:400px;
}
.section-title {
    font-size: 47px;
    letter-spacing: 2.08px;
    line-height: 66px;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.what-we-do__text p{

    color: white;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.55px;
    line-height: 32px;
}
.mini-title {
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
    letter-spacing: 1.32px;
    color: white;
}
.what-we-do__text {
    margin-left: 21%;
    padding-right: 4%;
    margin-top: -3%;
    padding-bottom: 16%;
}
.section-six__button-large {
    border: 2px solid var(--main-button-color);
    border-radius: 50px;
    color: white;
    margin-bottom: 2.5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    text-transform: uppercase;
    padding: 6px;
}
.video-section__iframe {
    padding-top: 18%;
}
.responsive-iframe{
  padding-bottom: 14%;
}
.section-six__button-small {
    border: 2px solid var(--main-button-color);
    border-radius: 50px;
    color: white;
    margin-bottom: 2.5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46%;
    /* justify-content: space-around; */
    font-size: 19px;
    text-transform: uppercase;
}
.responsive-iframe {
    margin-left: 14%;
    width: 65%;
    height: 90%;
    border: none;
}
.nav__wrapper-list li {
    display: inline-block;
    padding: 16px;
}
.section-six__button-smal{
  margin-top: 10%;
}
.how-it-works {
    margin-top: 14%;
}
.our-cost__item p {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.48px;
}
.secure-yet-simple__container {
    padding: 13% 0 17% 22%;
}
.section-six {
    margin-top: 19%;
}
.you-plus-your-things .you-plus-your-things__list-wrapper {
    padding: 17% 0 23% 14%;
}
.you-plus-your-things__item-text {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 23px;
    padding-right: 25%;
}
.plus-your-things__item-title{
  font-size: 23px;
}
.secure-yet-simple__item p{
  font-size: 17px;
}
.what-we-do__svg-container {
    margin-left: 18%;
    margin-top: 7%;
}
}