/* Box sizing rules */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
:root {
  
  --main-button-color:#096EF3;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: white;
  background-color: black;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



.website-container{
    max-width: 1920px;
    background-color: black;
    width: 100%;
    margin: 0 auto;
}

p{
    color:white;
    font-size: 22px;
     font-family: 'PT Sans', sans-serif;
     letter-spacing: 0.55px;
     line-height: 32px;
     align-items: left;
    
}
.mini-title{
     font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 22px;
    letter-spacing: 1.32px;
    color: white;
}
.section-title{
    font-size: 70px;
    letter-spacing: 3.08px;
    line-height: 90px;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-transform:uppercase;
 color: white;
}
.website-container-inner{
  width: 85%;
  margin: 0 auto;
}
.what-we-do__svg-container{
  margin-left: 18%;
}

.what-we-do__text{
    margin-left: 21%;
    padding-right: 4%;
    margin-top: -3%;
}
.how-it-works__,.-section__iframe{
  margin-top: 10%;
  margin-bottom: 10%;
}
.responsive-iframe {
    margin-left: 20%;
    width: 65%;
    height: 72%;
    border: none;
}

.secure-yet-simple__container .secure-yet-simple__list{
  display: flex;
   margin-bottom: 2%;
}

.secure-yet-simple__container{
   
    padding: 13% 0 10% 25%;
   
}
.secure-yet-simple__item-svg{
  padding-right: 10%;
}
.secure-yet-simple__item{
margin-top: 1%;
}
.our-cost{
  display: flex;
  justify-content: space-between;
}
.our-cost__item {
  width: 27%;
 
}
.our-cost__item p{
 font-size: 21px;
  line-height: 38px;
  letter-spacing: 0.48px;
}
  .you-plus-your-things__item-text{
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 29px;
    padding-right: 25%;
  }
  .you-plus-your-things__item-number{
    padding-top: 4%;
  }
.you-plus-your-things .you-plus-your-things__list-wrapper {
  padding: 10% 0 5% 14% ;
}
.plus-your-things__item-title{
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 0.5px;
  padding-bottom: 1%;
}

.you-plus-your-things__list-wrapper  .you-plus-your-things__list{
  display: flex;
  margin-bottom: 4%;
}
.you-plus-your-things__item-number,.you-plus-your-things__item-svg{
  padding-right: 4%;
}

.thumbs-up {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-six-wrapper{
  display: flex;
  flex-direction: column;
}

.section-six__button-large {
    border: 2px solid var(--main-button-color);
    border-radius: 50px;
    color: white;
   
    margin-bottom: 2.5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
    font-size: 25px;
   
     text-transform:uppercase;
}
.section-six__button-small{
  border: 2px solid var(--main-button-color);
    border-radius: 50px;
    color: white;
  
    margin-bottom: 2.5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
    font-size: 25px;
    
     text-transform:uppercase;
}
.buttons-wrapper{
  display: flex;
  justify-content: space-around;
}
.thumbs-up__text{
  align-self: center;
  padding-left: 2%;
}

.section-six{
  margin-top: 15%;
}
.section-seven{
  margin-top: 10%;
}
.our-cost__container{
  margin: 5% 0 5% 0;
}
.how-it-works,.secure-yet-simple,.-section,.you-plus-your-things{
  margin-top: 18%;
}
.thumbs-up__text h4{
  font-size: 28px;
  letter-spacing: 1.4px;
  line-height: 61px;
  text-align: left;
  text-transform: uppercase;
}
.management-section__list-item span{
  color: #096EF3;
}


.Benefits{
  margin-bottom: 15%;
}



























/* for-developers */

.your-hardware__list{
  display: flex;
  justify-content: space-between;
}
.your-hardware__container{
  padding: 10% 0 5% 0%;
}
.for-developers__container{
  display: flex;
  padding: 8% 0 0 0;
}
.for-developers__svg {
    width: 40%;
    display: flex;
    padding: 7% 0 0 5%;
}
.for-developers__list-container-heading{
 font-size: 24px;
 letter-spacing: 1.44px;
 line-height: 81px;
 color: #0A39D5;
 padding-left: 5%;
}
.for-developers__list-item p,.for-developers__list-item img {
display: inline-block;
}

.webrtc-agent__list {
    position: absolute;
    top: 34%;
    left: 47%;
}
.webrtc-agent__list-outer,.webrtc-agent__list-inner{
font-size: 22px;
line-height: 50px;
letter-spacing: 0.55px;
}
.webrtc-agent__list-inner__container{
 padding: 0  0 0 5% ;
}
.webrtc-agent{
  position: relative;
}
.for-developers__image-first{
  padding-right: 5%;
}
.for-developers{
  margin-bottom: 15%;
  position: relative;
}
.for-developers__container .for-developers__list{
  padding-top: 5%;
}
.for-developers__list-container-second{
  margin-top: 10%;
}
.for-developers__list-item p{
  line-height: 50px;
  letter-spacing: 0.55px;
}
.your-hardware-bottom-list-item{
  display: flex;
}
.your-hardware-bottom-list-item p{
padding-left: 8%;
}
.your-web-developer-wrapper__list,.your-web-developer-wrapper__list-bullet{
  font-size: 22px;
  letter-spacing: 0.55px;
  line-height: 45px;
}
.your-web-developer-wrapper__svg-absolute {
    position: absolute;
    bottom: 29%;
    right: -38%;
}

.your-hardware__container .your-hardware__list-item-text{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
  letter-spacing: 0.55px;
  line-height: 55px;
  color: blue;
}
.your-hardware-bottom-list__container{
  display: flex;
  justify-content: space-between;
}
.your-hardware-bottom-list{
  margin:10% 0 18% 0;
}
.webrtc-agent-svg{
  margin-top: 10%;
  padding-right: 5%;
}
.section-title-black-box-container{
  display: flex;
}
.a-black-box{
  margin-top: 10%;
  position: relative;
}
.a-black-box-svg{
  padding-top: 8%;
}
.ptz-cam-section{
  position: relative;
}
.ptz-cam-section-left {
    position: absolute;
    top: 37%;
    left: 9%;
     font-size: 20px;
    letter-spacing: 1.04px;
    line-height: 67px;
}
.tl-dr-section__container{
  padding: 10% 0 0 0;
}
.tl-dr__list-item p{
  line-height: 23px;
  letter-spacing: 0.57px;
  line-height: 37px;
}
.tl-dr__list-item span{
  color: blue;
}
.tl-dr__list-item{
  padding: 2% 0 2% 0;
}
.ptz-cam__svg svg {
  padding-right: 24%;
}
.ptz-cam-section-right {
    position: absolute;
    bottom: 22%;
    right: 28%;
    font-size: 20px;
    letter-spacing: 1.04px;
    line-height: 67px;
}
.your-web-developer-wrapper{
  padding: 10% 0 15% 0;
  display: flex;
}
.ptz-cam__svg{
  padding-top: 10%;
}
.a-black-box-svg__bottom-left{
  padding-left: 8%;
}
.a-black-box-svg__bottom-right{
  padding-right: 5%;
}
.a-black-box-svg__bottom{
  display: flex;
  justify-content: space-between;
}
.your-web-developer{
  margin: 15% 0 15% 0;
  position: relative;
}
.ptz-cam-section{
  margin: 15% 0 15% 0;
}
.tl-dr-section__container{
  display: flex;
  flex-direction: row;
}
.tl-dr__text{
  padding-top: 7%;
}

