.nav__wrapper-list li a{
    text-decoration: none;
    font-size: 19px;
    letter-spacing: 0.76px;
    line-height: 24px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-weight: Bold;
}
.nav__wrapper{
    display:flex ;
    justify-content: space-between;
}
.nav__wrapper-list-item{
padding: 24px;
}
.nav__wrapper-list li {
    display: inline-block;
    padding: 29px;
}
.mobile-logo{
      display: none;
    }
.mobile-menu__icon{
    display: none;
}
.nav__wrapper{
    margin-bottom: 6%;
}
.activeMenu{
    border-top: 1px solid #096EF3;
    padding-top: 5px;
}
.desktop-logo{
    display: none;
}
.desktop__menu-absolute{
    position: absolute;
    top: 0%;
}
.mobile-menu-float{
    display: none;
}
@media screen and (max-width:768px){
    .desktop-logo{
        display: block;
    }
    .nav__wrapper-list{
        margin-bottom: 15%;
    }
    .closebtn {
    position: absolute;
    right: 9%;
    top: 2%;
  
}
.mobile-icon__container{
    margin-left: 3%;
}
.nav-wrapper-icon {
    position: absolute;
    top: 16%;
    left: 23%;
}
.nav__wrapper-list{
    margin-bottom: 14% !important;
}
.nav__wrapper-list li {
    display: inline-block;
    padding: 19px;
}
    .desktop__menu-absolute{
        display: none;
    }
    .mobile-menu-float{
        display: flex;
        justify-content: space-between;
    }
    .mobile-logo{
      display: block;
    }
    .nav__wrapper-list{
    display: flex;
    flex-direction: column;
}
   .nav__wrapper {
    height: 100vh;
    overflow-y: no-scroll !important;
    background-color:black;
    transform: translateX(100%);
     -webkit-transform:translate(100%);
    
    -moz-transform: rotate(100%);
     -ms-transform: rotate(100%);
     -o-transform: rotate(100%);
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
     transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
     -o-transition:0.5s;
}
.openMenubtn {
    margin: 3% 7% 0 0;
}
.slidein{
    transform: translateX(0%);
}
.lock-scroll {
    overflow: hidden;
}
.nav__wrapper-list{
    align-items: center;
    align-self: center;
}
}