{% include head.html %}

<div class="website-container">
    {% include navbar.html %}
    <div class="website-container-inner">


        {{content}}

    </div>

    <script src="//code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/youtubeApi.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.inview.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.youtube-inview-autoplay.js"></script>
    <script src="{{site.baseurl}}/assets/js/custom.js "></script>

    {% include footer.html %}
</div>