---
layout: general
---

<div class="blog__post-title">
    <h1 class="mini-title">Securing Things on the Internet</h1>
    <h2 class="second-title">BLOG TITLE LOREM IPSUM</h2>
</div>

<div class="blog">
    {{content}}
    <div class="author-and-date">

        <p class="title is-3">{{page.author}},</p>
        <p class="content">{{ page.date | date: '%B %d,%Y'}}
        </p>
    </div>
    <div class="PageNavigation">
        {% if page.previous.url %}
        <a class="prev" href="/pipeNew{{page.previous.url}}">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="133" height="133"
                viewBox="0 0 133 133">
                <defs>
                    <clipPath id="clip-Icon_next">
                        <rect width="133" height="133" />
                    </clipPath>
                </defs>
                <g id="Icon_next" clip-path="url(#clip-Icon_next)">
                    <g id="bg" transform="translate(104 104) rotate(180)" fill="none" stroke="#fff" stroke-width="1.2">
                        <rect width="75" height="75" rx="37.5" stroke="none" />
                        <rect x="0.6" y="0.6" width="73.8" height="73.8" rx="36.9" fill="none" />
                    </g>
                    <rect id="bg-2" data-name="bg" width="35" height="35" transform="translate(84 84) rotate(180)"
                        fill="none" />
                    <path id="icon"
                        d="M8.956,18.958.639,10.64A1.111,1.111,0,0,1,.114,9.326a1,1,0,0,1,.428-.561L.55,8.76,8.956.354a1,1,0,0,1,1.415,0l.088.088a1,1,0,0,1,0,1.415L3.7,8.614H21.737a1,1,0,0,1,1,1v.124a1,1,0,0,1-1,1H3.742l6.717,6.717a1,1,0,0,1,0,1.414l-.088.088a1,1,0,0,1-1.415,0Z"
                        transform="translate(77.905 76.176) rotate(180)" fill="#fff" />
                </g>
            </svg>

        </a>
        {% endif %}
        {% if page.next.url %}
        <a class="next" href="/pipeNew{{page.next.url}}">

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="133" height="133"
                viewBox="0 0 133 133">
                <defs>
                    <clipPath id="clip-Icon_next">
                        <rect width="133" height="133" />
                    </clipPath>
                </defs>
                <g id="Icon_next" clip-path="url(#clip-Icon_next)">
                    <g id="bg" transform="translate(104 104) rotate(180)" fill="none" stroke="#fff" stroke-width="1.2">
                        <rect width="75" height="75" rx="37.5" stroke="none" />
                        <rect x="0.6" y="0.6" width="73.8" height="73.8" rx="36.9" fill="none" />
                    </g>
                    <rect id="bg-2" data-name="bg" width="35" height="35" transform="translate(84 84) rotate(180)"
                        fill="none" />
                    <path id="icon"
                        d="M8.956,18.958.639,10.64A1.111,1.111,0,0,1,.114,9.326a1,1,0,0,1,.428-.561L.55,8.76,8.956.354a1,1,0,0,1,1.415,0l.088.088a1,1,0,0,1,0,1.415L3.7,8.614H21.737a1,1,0,0,1,1,1v.124a1,1,0,0,1-1,1H3.742l6.717,6.717a1,1,0,0,1,0,1.414l-.088.088a1,1,0,0,1-1.415,0Z"
                        transform="translate(77.905 76.176) rotate(180)" fill="#fff" />
                </g>
            </svg>

        </a>
        {% endif %}
    </div>



    <div class="more-articles">
        <h2>MORE ARTICLES</h2>
    </div>

    <div class="list_blog-post-container">

        <ul>


            <div class="blogs">
                {% for post in site.posts %}
                <div class="blog-container">
                    <div class="post-svg">
                        {% if post.number == "2" %}
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="99"
                            height="98" viewBox="0 0 99 98">
                            <defs>
                                <clipPath id="clip-Icon_text">
                                    <rect width="99" height="98" />
                                </clipPath>
                            </defs>
                            <g id="Icon_text" clip-path="url(#clip-Icon_text)">
                                <g id="Gruppe_4958" data-name="Gruppe 4958" transform="translate(28.667 27.666)">
                                    <g id="Gruppe_3776" data-name="Gruppe 3776" transform="translate(0 0)">
                                        <g id="Ellipse_20007" data-name="Ellipse 20007"
                                            transform="translate(0.333 0.333)" fill="none" stroke="#fff"
                                            stroke-width="0.5">
                                            <circle cx="21" cy="21" r="21" stroke="none" />
                                            <circle cx="21" cy="21" r="20.75" fill="none" />
                                        </g>
                                        <path id="Pfad_12505" data-name="Pfad 12505" d="M0,0V26.592"
                                            transform="translate(34.672 22.342) rotate(90)" fill="none" stroke="#fff"
                                            stroke-width="2" />
                                        <path id="Pfad_12507" data-name="Pfad 12507" d="M0,0V26.592"
                                            transform="translate(34.672 27.053) rotate(90)" fill="none" stroke="#fff"
                                            stroke-width="2" />
                                        <path id="Pfad_12506" data-name="Pfad 12506" d="M0,0V26.592"
                                            transform="translate(34.672 17.63) rotate(90)" fill="none" stroke="#fff"
                                            stroke-width="2" />
                                    </g>
                                </g>
                            </g>
                        </svg>


                        {% endif %}
                        {% if post.title == "Is innovative" %}
                        <svg class="blog__post-svg" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="99" height="98" viewBox="0 0 99 98">
                            <defs>
                                <clipPath id="clip-Icon_text">
                                    <rect width="99" height="98" />
                                </clipPath>
                            </defs>
                            <g id="Icon_text" clip-path="url(#clip-Icon_text)">
                                <g id="Gruppe_4958" data-name="Gruppe 4958" transform="translate(28.667 27.666)">
                                    <g id="Gruppe_3776" data-name="Gruppe 3776" transform="translate(0 0)">
                                        <g id="Ellipse_20007" data-name="Ellipse 20007"
                                            transform="translate(0.333 0.333)" fill="none" stroke="#fff"
                                            stroke-width="0.5">
                                            <circle cx="21" cy="21" r="21" stroke="none" />
                                            <circle cx="21" cy="21" r="20.75" fill="none" />
                                        </g>
                                        <path id="Pfad_12505" data-name="Pfad 12505" d="M0,0V26.592"
                                            transform="translate(34.672 22.342) rotate(90)" fill="none" stroke="#fff"
                                            stroke-width="2" />
                                        <path id="Pfad_12507" data-name="Pfad 12507" d="M0,0V26.592"
                                            transform="translate(34.672 27.053) rotate(90)" fill="none" stroke="#fff"
                                            stroke-width="2" />
                                        <path id="Pfad_12506" data-name="Pfad 12506" d="M0,0V26.592"
                                            transform="translate(34.672 17.63) rotate(90)" fill="none" stroke="#fff"
                                            stroke-width="2" />
                                    </g>
                                </g>
                            </g>
                        </svg>

                        {% endif %}
                        {% if post.title == "Welcome" %}
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="98"
                            height="98" viewBox="0 0 98 98">
                            <defs>
                                <clipPath id="clip-Icon_play">
                                    <rect width="98" height="98" />
                                </clipPath>
                            </defs>
                            <g id="Icon_play" clip-path="url(#clip-Icon_play)">
                                <g id="Ellipse_19981" data-name="Ellipse 19981" transform="translate(29 24.499)"
                                    fill="none" stroke="#fff" stroke-width="0.5">
                                    <circle cx="21" cy="21" r="21" stroke="none" />
                                    <circle cx="21" cy="21" r="20.75" fill="none" />
                                </g>
                                <path id="Polygon_7" data-name="Polygon 7"
                                    d="M8.958,1.747a1,1,0,0,1,1.782,0l8.217,16.115a1,1,0,0,1-.891,1.454H1.632a1,1,0,0,1-.891-1.454Z"
                                    transform="translate(61.652 35.467) rotate(90)" fill="#fff" />
                            </g>
                        </svg>


                        {% endif %}


                    </div>
                    <div class="blog__post">
                        <h1 class="blog__item-number">{{ post.number }}</h1>

                    </div>
                    <p class="content-small">{{ post.subtitle }}</p>

                    <h2 class="blog__item-title"><a href="/pipeNew{{ post.url }}">{{ post.title }}</a></h2>
                    <p>
                        Lorem eram isse eram es
                        Ipsum dolor esse est sum.
                        Summa suam ella lorem
                        mialur eteram mehr
                    </p>
                </div>
                {% endfor %}
            </div>


        </ul>
        <div class="blog-svg-icon">
            <a href="{{site.baseurl}}/blog">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="133"
                    height="133" viewBox="0 0 133 133">
                    <defs>
                        <clipPath id="clip-Icon_next">
                            <rect width="133" height="133" />
                        </clipPath>
                    </defs>
                    <g id="Icon_next" clip-path="url(#clip-Icon_next)">
                        <g id="bg" transform="translate(104 104) rotate(180)" fill="none" stroke="#fff"
                            stroke-width="1.2">
                            <rect width="75" height="75" rx="37.5" stroke="none" />
                            <rect x="0.6" y="0.6" width="73.8" height="73.8" rx="36.9" fill="none" />
                        </g>
                        <rect id="bg-2" data-name="bg" width="35" height="35" transform="translate(84 84) rotate(180)"
                            fill="none" />
                        <path id="icon"
                            d="M8.956,18.958.639,10.64A1.111,1.111,0,0,1,.114,9.326a1,1,0,0,1,.428-.561L.55,8.76,8.956.354a1,1,0,0,1,1.415,0l.088.088a1,1,0,0,1,0,1.415L3.7,8.614H21.737a1,1,0,0,1,1,1v.124a1,1,0,0,1-1,1H3.742l6.717,6.717a1,1,0,0,1,0,1.414l-.088.088a1,1,0,0,1-1.415,0Z"
                            transform="translate(77.905 76.176) rotate(180)" fill="#fff" />
                    </g>
                </svg>
            </a>

        </div>
    </div>

</div>